{
  "plugins": ["@markw65/prettier-plugin-monkeyc", "@prettier/plugin-xml"],
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "printWidth": 80,
  "trailingComma": "none",
  "xmlSelfClosingSpace": true,
  "xmlWhitespaceSensitivity": "ignore"
}
